{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "globals": {
    "describe": true,
    "it": true
  },
  "rules": {
    "linebreak-style": "off",
    "quotes": "error",
    "no-console": "off",
    "max-len": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": "warn",
    "no-param-reassign": "off",
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "prefer-arrow-callback": "off",
    "func-names": "off",
    "no-bitwise": ["error", { "allow": ["^"] }],
    "prettier/prettier": "error"
  }
}
